<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.ssm.mapper.TokenMapper">
    <sql id="TOKEN">
        id,token,user_id,validate_time
    </sql>

    <insert id="add">
        insert into
            token
        (token,user_id,validate_time)
            values
        (#{token},#{userId},#{validateTime})
    </insert>

    <update id="update">
        update token
            <set>
                <if test="null != token and token != ''">
                    token = #{token},
                </if>
                <if test="null != userId">
                    user_id = #{userId},
                </if>
                <if test="null != validateTime">
                    validate_time = #{validateTime},
                </if>
            </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="findByUserId" resultType="com.dj.ssm.pojo.Token">
        select <include refid="TOKEN"/>
            from token
        where user_id = #{id}
    </select>

    <select id="findByToken" resultType="com.dj.ssm.pojo.Token">
        select <include refid="TOKEN"/>
            from token
        where token = #{token}
    </select>
</mapper>